<%= form_for @subdomain do |f| %>
  <%= f.label :content %>:
  <%= f.text_field :content %><span> (original URL or IP Address) </span><br />

  <%= f.label :subdomain %>:
  <%= f.text_field :subdomain %><span>(.turingapps.io)</span><br />

  <%= f.submit %>
<% end %>
