<!DOCTYPE html>
<html>
<head>
  <title>Namer</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <%= content_tag :div, msg, :class => "flash_#{name}" %>
  <% end %>
<% end %>

<% if current_user %>
  <p>hi, <%= current_user.github_name %></p>
  <p><%= link_to "logout", logout_path %></p>
<% else %>
  <p><%= link_to "login", login_path %></p>
<% end %>

<%= yield %>

</body>
</html>
